<div class="">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-kich-ban-heading" data-cy="KichBanCreateUpdateHeading">Thêm mới kịch bản</h2>
      <header class="header-tsm">

        <div>
          <label for="maKichBan">
            <p>Mã kịch bản</p>
          </label>
          <select class="form-control" id="maKichBan" data-cy="maKichBan" name="maKichBan" formControlName="maKichBan" (change)="onMaKichBanChange()">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="maKichBanOption.id === editForm.get('KichBan')!.value?.id ?editForm.get('KichBan')!.value : maKichBanOption "
              *ngFor="let maKichBanOption of kichBansSharedCollection; trackBy: trackThietBiById">
              {{maKichBanOption.maKichBan}}</option>
          </select>
        </div>

        <div>
          <label for="maThietBi">
            <p>Mã thiết bị</p>
          </label>
          <select class="form-control" id="maThietBi" name="maThietBi" formControlName="maThietBi">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="maKichBanOption.maThietBi"
              *ngFor="let maKichBanOption of kichBansSharedCollection; trackBy: trackThietBiById">
              {{maKichBanOption.maThietBi}}</option>
          </select>
        </div>
      
        <div>
          <label for="loaiThietBi">
            <p>Loại thiết bị</p>
          </label>
          <select class="form-control" id="loaiThietBi" name="loaiThietBi" formControlName="loaiThietBi">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="maKichBanOption.loaiThietBi"
              *ngFor="let maKichBanOption of kichBansSharedCollection; trackBy: trackThietBiById">
              {{maKichBanOption.loaiThietBi}}</option>
          </select>
        </div>
        
      <div>
        <label for="maSanPham">
          <p>Mã sản phẩm</p>
        </label>
        <select class="form-control" id="maSanPham" name="maSanPham" formControlName="maSanPham">
          <option [ngValue]="null"></option>
          <option
            [ngValue]="maKichBanOption.maSanPham"
            *ngFor="let maKichBanOption of kichBansSharedCollection; trackBy: trackThietBiById">
            {{maKichBanOption.maSanPham}}</option>  
        </select>
      </div>

      <div>
        <label for="versionSanPham">
          <p>Version sản phẩm</p>
        </label>
        <select class="form-control" id="versionSanPham" name="versionSanPham" formControlName="versionSanPham">
          <option [ngValue]="null"></option>
          <option
            [ngValue]="maKichBanOption.versionSanPham"
            *ngFor="let maKichBanOption of kichBansSharedCollection; trackBy: trackThietBiById">
            {{maKichBanOption.versionSanPham}}</option>
        </select>
      </div>
      </header>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
              <th scope="col" jhiSortBy="maKichBan"><span>Thông số</span></th>
              <th scope="col" jhiSortBy="thongSo"><span>Min</span></th>
              <th scope="col" jhiSortBy="trangThai"><span>Max</span></th>
              <th scope="col" jhiSortBy="phanLoai"><span>Trung bình</span></th>
              <th scope="col" jhiSortBy="phanLoai"><span>Đơn vị</span></th>
              <th scope="col" jhiSortBy="phanLoai"><span>Phân loại</span></th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <tr  data-cy="entityTable">
              <td>
                <input type="text" class="form-control-table" name="thongSo" id="field_thongSo" data-cy="thongSo"
                  formControlName="thongSo" />
              </td>
              <td>
                <input type="text" class="form-control-table" name="MinValue" id="field_MinValue" data-cy="MinValue"
                  formControlName="MinValue" />
              </td>
              <td>
                <input type="text" class="form-control-table" name="MaxValue" id="field_MaxValue" data-cy="MaxValue"
                  formControlName="MaxValue" />
              </td>
              <td>
                <input type="text" class="form-control-table" name="trungBinh" id="field_trungBinh" data-cy="trungBinh"
                  formControlName="trungBinh" />
              </td>
              <td>
                <input type="text" class="form-control-table" name="donVi" id="field_donVi" data-cy="donVi"
                  formControlName="donVi" />
              </td>
              <td>
                <input type="text" class="form-control-table" name="phanLoai" id="field_phanLoai" data-cy="phanLoai"
                  formControlName="phanLoai" />
              </td>
            </tr>
          </tbody>
        </table>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
      </div>
    </form>
  </div>
</div>
