<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate [formGroup]="editForm">
      <h2 id="jhi-thiet-bi-heading" data-cy="ThietBiCreateUpdateHeading">Thêm mới thiết bị</h2>
      <!-- <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-thong-so-may"
        [routerLink]="['/thong-so-may/new']">
        <fa-icon icon="plus"></fa-icon>
        <span> Thêm mới thông số máy</span>
      </button> -->

      <div>
        <jhi-alert-error></jhi-alert-error>

        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
              <th scope="col" jhiSortBy="maThietBi"><span>Mã thiết bị</span></th>
              <th scope="col" jhiSortBy="loaiThietBi"><span>Loại thiết bị</span></th>
              <th scope="col" jhiSortBy="dayChuyen"><span>Dây chuyền</span></th>
              <th scope="col" jhiSortBy="trangThai"><span>Trạng thái</span></th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <tr data-cy="entityTable">
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="loaiThietBi"
                  id="field_loaiThietBi"
                  data-cy="loaiThietBi"
                  formControlName="loaiThietBi"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="loaiThietBi"
                  id="field_loaiThietBi"
                  data-cy="loaiThietBi"
                  formControlName="loaiThietBi"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="loaiThietBi"
                  id="field_loaiThietBi"
                  data-cy="loaiThietBi"
                  formControlName="loaiThietBi"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="loaiThietBi"
                  id="field_loaiThietBi"
                  data-cy="loaiThietBi"
                  formControlName="loaiThietBi"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
          (click)="save()"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>

        <h2 id="jhi-thiet-bi-heading" data-cy="ThietBiCreateUpdateHeading">Thêm mới thông số thiết bị</h2>
          <!-- <button id="jh-create-entity" class="btn btn-primary jh-create-entity create-thong-so-may" (click)="addRow()">
            <fa-icon icon="plus"></fa-icon>
          </button> -->

          <button (click)="addRow()">them</button>

        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
              <th scope="col" jhiSortBy="maThietBi"><span>Mã thông số</span></th>
              <th scope="col" jhiSortBy="maThietBi"><span>Thông số</span></th>
              <th scope="col" jhiSortBy="loaiThietBi"><span>Mô tả</span></th>
              <th scope="col" jhiSortBy="updateBy"><span>Phân loại</span></th>
              <th scope="col" jhiSortBy="trangThai"><span>Trạng thái</span></th>
              <th scope="col"></th>
            </tr>
          </thead>
           <tbody>
                <tr *ngFor="let data of listOfThietBi; let i = index" class="editable-row">
                  <td>
                    <div class="editable-cell" [hidden]="editId === i+1" (click)="startEdit2(i+1)">
                      {{ data.id }}
                    </div>
                    <input [hidden]="editId !== i+1" type="text" [(ngModel)]="data.id"
                      (blur)="stopEdit()" />

                  <td>
                    <div class="editable-cell" [hidden]="editId === i+1" (click)="startEdit2(i+1)">
                      {{ data.maThongSo }}
                    </div>
                    <input [hidden]="editId !== i+1" type="text" [(ngModel)]="data.maThongSo"
                      (blur)="stopEdit()" />
                  </td>
                
                  <td>
                    <div class="editable-cell" [hidden]="editId === i+1" (click)="startEdit2(i+1)">
                      {{ data.tenThongSo }}
                    </div>
                    <input [hidden]="editId !== i+1" type="text" [(ngModel)]="data.tenThongSo"
                      (blur)="stopEdit()" />
                  </td>
                
                  <td>
                    <div class="editable-cell" [hidden]="editId === i+1" (click)="startEdit2(i+1)">
                      {{ data.moTa }}
                    </div>
                    <input [hidden]="editId !== i+1" type="text" [(ngModel)]="data.moTa"
                      (blur)="stopEdit()" />
                  </td>
                  <td>
                    <div class="editable-cell" [hidden]="editId === i+1" (click)="startEdit2(i+1)">
                      {{ data.status }}
                    </div>
                    <input [hidden]="editId !== i+1" type="text" [(ngModel)]="data.status" (blur)="stopEdit()" />
                  </td>
                  <td><button (click)="deleteRow(data.maThongSo)">Xoá</button></td>
                  </tr>
           </tbody>
          <!-- <tbody>
            <tr data-cy="entityTable">
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="thongSo"
                  id="thongSo"
                  formControlName="thongSo"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="moTa"
                  id="moTa"
                  formControlName="moTa"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="phanLoai"
                  id="phanLoai"
                  formControlName="phanLoai"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="status"
                  id="status"
                  formControlName="status"
                />
              </td>
            </tr>
          </tbody> -->
        </table>

        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
          </button>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
            (click)="save()"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
