<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-quan-ly-thong-so-heading" data-cy="QuanLyThongSoCreateUpdateHeading">Thêm mới quản lý thông số</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
              <th scope="col" jhiSortBy="maThongSo"><span>Mã thông số</span></th>
              <th scope="col" jhiSortBy="thongSo"><span>Thông số</span></th>
              <th scope="col" jhiSortBy="moTa"><span>Mô tả</span></th>
              <th scope="col" jhiSortBy="trangThai"><span>Trạng thái</span></th>
            </tr>
          </thead>

          <tbody>
            <tr data-cy="entityTable">
              <td>
                <input type="text" class="form-control" name="maThongSo" id="maThongSo" 
                  formControlName="maThongSo" />
              </td>
              <td>
                <input type="text" class="form-control" name="tenThongSo" id="tenThongSo" 
                  formControlName="tenThongSo" />
              </td>
              <td>
                <input type="text" class="form-control" name="moTa" id="moTa" 
                  formControlName="moTa" />
              </td>
              <td>
                <select class="form-control" id="maKichBan" data-cy="maKichBan" name="maKichBan" formControlName="maKichBan" [(ngModel)]="selectedStatus" (change)="onMaKichBanChange()">
                  <option [ngValue]="null">-- Chọn trạng thái --</option>
                  <option value="active">Active</option>
                  <option value="deactive">Deactive</option>
                </select>
                
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </form>
  <div>
    <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
    </button>

    <button
      type="submit"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      [disabled]="editForm.invalid || isSaving"
      class="btn btn-primary"
      (click)="save()"
    >
      <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
    </button> 
    </div>
  </div>
</div>
