@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  height: 4rem;
  padding: 0.2rem 1rem;

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  background-size: 100%;
  height: 45px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo.webp') no-repeat center center;
  background-size: contain;
}

/* Kiểu dáng cho thanh bên */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  /* Điều chỉnh chiều rộng theo nhu cầu */
  padding: 20px;
  background-color: #333;
  /* Điều chỉnh màu nền theo nhu cầu */
  color: #fff;
  /* Màu văn bản */
}

/* Kiểu dáng cho nội dung chính */
main {
  margin-left: 250px;
  /* Phù hợp với chiều rộng của thanh bên */
  padding: 20px;
}

.navbar-title {
  color: #fff;
}


.nav-item-dropdown {
  position: relative;

  &.nav-link.dropdown-toggle{
    cursor: pointer;
  }

  &ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
  }
}