<div>
  <h2 id="page-heading" data-cy="ThietBiHeading">
    <span>Thiết Bị</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-thiet-bi"
        [routerLink]="['/thiet-bi/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Thêm mới </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="thietBis?.length === 0">
    <span>No thietBis found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="thietBis && thietBis.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>STT</span></th>
          <th scope="col" jhiSortBy="maThietBi">
            <span>Mã thiết bị</span>
            <input #searchInput type="text" [(ngModel)]="maThietBi" (keyup.enter)= "timKiemThietBi()" placeholder="search" />

            <ul>
              <li *ngFor="let suggesion of searchSuggestions">{{suggesion}}</li>
            </ul>

            <ul *ngIf="searchResults.length > 0">
              <li *ngFor="let result of searchResults">{{ result.maThietBi }}</li>
            </ul>
          </th>

          <th scope="col" jhiSortBy="loaiThietBi">
            <span>Loại thiết bị</span>
            <input #searchInput type="text" [(ngModel)]="loaiThietBi" (keyup.enter)= "timKiemThietBi()" placeholder="search" />

            <ul>
              <li *ngFor="let suggesion of searchSuggestions">{{suggesion}}</li>
            </ul>

            <ul *ngIf="searchResults.length > 0">
              <li *ngFor="let result of searchResults">{{ result.loaiThietBi }}</li>
            </ul>
          </th>
          
          <th scope="col" jhiSortBy="dayChuyen">
            <span>Dây chuyền</span>
            <input #searchInput type="text" [(ngModel)]="dayChuyen" (keyup.enter)= "timKiemThietBi()" placeholder="search" />

            <ul>
              <li *ngFor="let suggesion of searchSuggestions">{{suggesion}}</li>
            </ul>

            <ul *ngIf="searchResults.length > 0">
              <li *ngFor="let result of searchResults">{{ result.dayChuyen }}</li>
            </ul>
          </th>
          <th scope="col" jhiSortBy="ngayTao">
            <span>Ngày tạo</span>
            <input type="datetime-local" />
          </th>
          <th scope="col" jhiSortBy="timeUpdate" style="width: 160px">
            <span>Thời gian cập nhật</span>
            <input type="datetime-local" />
          </th>
          <th scope="col" jhiSortBy="updateBy">
            <span>Update By</span>
            <input #searchInput type="text" [(ngModel)]="updateBy" (keyup.enter)= "timKiemThietBi()" placeholder="search" />

            <ul>
              <li *ngFor="let suggesion of searchSuggestions">{{suggesion}}</li>
            </ul>

            <ul *ngIf="searchResults.length > 0">
              <li *ngFor="let result of searchResults">{{ result.updateBy }}</li>
            </ul>
          </th>
          <th scope="col" jhiSortBy="status">
            <span>Trạng thái</span>
            <select class="form-control" id="maKichBan" data-cy="maKichBan" name="maKichBan" formControlName="maKichBan" [(ngModel)]="selectedStatus" (change)="onChangeSearch()">
                  <option [ngValue]="null">-- Chọn trạng thái --</option>
                  <option value="active">Active</option>
                  <option value="deactive">Deactive</option>
                </select>
          </th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let thietBi of thietBis; let i = index; trackBy: trackId" data-cy="entityTable">
          <td>{{i+1}}</td>
          <td>{{ thietBi.maThietBi }}</td>
          <td>{{ thietBi.loaiThietBi }}</td>
          <td>{{ thietBi.dayChuyen }}</td>
          <td>{{ thietBi.ngayTao | formatMediumDatetime }}</td>
          <td>{{ thietBi.timeUpdate | formatMediumDatetime }}</td>
          <td>{{ thietBi.updateBy }}</td>
          <td>{{ thietBi.status }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/thiet-bi', thietBi.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <!-- <span class="d-none d-md-inline">Chi tiết</span> -->
              </button>

              <button
                type="submit"
                [routerLink]="['/thiet-bi', thietBi.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <!-- <span class="d-none d-md-inline">Chỉnh sửa</span> -->
              </button>

              <button type="submit" (click)="delete(thietBi)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times" class="delete-icon"></fa-icon>
                <!-- <span class="d-none d-md-inline">Xóa</span> -->
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="thietBis && thietBis.length > 0">

    <div>
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
        style="float: right;"
      ></ngb-pagination>
    </div>
  </div>
</div>
