<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editFormSXHN" role="form" novalidate (ngSubmit)="save()" [formGroup]="editFormSXHN">
      <h2 id="jhi-san-xuat-hang-ngay-heading" data-cy="SanXuatHangNgayCreateUpdateHeading">Thêm mới sản xuất hàng ngày</h2>

      <header class="header-sxhn">
        <div class="input-sxhn">
          <label class="form-label" for="field_maSanPham">
            <p>Mã sản phẩm</p>
          </label>
          <select class="form-control" id="field_maSanPham" data-cy="maSanPham" name="maSanPham" formControlName="maSanPham">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="maThietBiOption.id === editFormSXHN.get('thietBi')!.value?.id ?editFormSXHN.get('thietBi')!.value : maThietBiOption "
              *ngFor="let maThietBiOption of thietBisSharedCollection; trackBy: trackThietBiById">
              {{maThietBiOption.maThietBi}}</option>
          </select>
        </div>
      
        <div class="input-sxhn">
          <label for="">
            <p>Tên sản phẩm</p>
          </label>
          <select class="form-control" id="field_maThietBi" data-cy="maThietBi" name="maThietBi" formControlName="maThietBi">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="maThietBiOption.id === editFormSXHN.get('thietBi')!.value?.id ?editFormSXHN.get('thietBi')!.value : maThietBiOption "
              *ngFor="let maThietBiOption of thietBisSharedCollection; trackBy: trackThietBiById">
              {{maThietBiOption.loaiThietBi}}</option>
          </select>
        </div>
      </header>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <table class="table table-striped">
           <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
              <th scope="col" jhiSortBy="maKichBan"><span>Thông số</span></th>
              <th scope="col" jhiSortBy="thongSo"><span>Min</span></th>
              <th scope="col" jhiSortBy="trangThai"><span>Max</span></th>
              <th scope="col" jhiSortBy="phanLoai"><span>Trung bình</span></th>
              <th scope="col" jhiSortBy="phanLoai"><span>Đơn vị</span></th>
              <th scope="col" jhiSortBy="phanLoai"><span>Phân loại</span></th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let chiTietKichBan of chiTietKichBan; trackBy: trackId" data-cy="entityTable">
              <td>
                <!-- <a [routerLink]="['/thong-so-may', thongSoMay.id, 'view']">{{ thongSoMay.id }}</a> -->
              </td>

              <td>
                <input type="text" class="form-control" name="loaiThietBi" data-cy="thongSo"
                  formControlName="loaiThietBi" placeholder="{{ chiTietKichBan.thongSo }}"/>
              </td>
              <td>{{ chiTietKichBan.minValue }}
                <input type="text" class="form-control" name="loaiThietBi" data-cy="minValue"
                  formControlName="loaiThietBi" />
              </td>
              <td>{{ chiTietKichBan.maxValue }}
                <input type="text" class="form-control" name="loaiThietBi" data-cy="maxValue"
                  formControlName="loaiThietBi" />
              </td>
              <td>{{ chiTietKichBan.trungbinh }}
                <input type="text" class="form-control" name="loaiThietBi" data-cy="trungbinh"
                  formControlName="loaiThietBi" />
              </td>
              <td>{{ chiTietKichBan.donVi }}
                <input type="text" class="form-control" name="loaiThietBi" data-cy="donVi"
                  formControlName="loaiThietBi" />
              </td>
              <td>{{ chiTietKichBan.phanLoai }}
                <input type="text" class="form-control" name="loaiThietBi" data-cy="phanLoai"
                  formControlName="loaiThietBi" />
              </td>
              <!-- <td>{{ chiTietKichBan.phanLoai }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>
